# Fichiers auxiliaires LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# Dossiers temporaires
_auto/
*.run.xml

# Latexmk specific
latexmkrc
*.pdfsync
*.dvi
*.ps
*.gz
*.ilg
*.ind
*.idx
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.loa
*.thm
*.bcf
*.cut
*.spl
*.slg
*.slo
*.syc
*.tdo
*.upa
*.upb
*.cb
*.cb2
*.pyg
*.nav
*.snm
*.vrb
*.synctex(busy)